name: build docs
on:
  pull_request:
  push:
    branches:
      - doc-dev
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build docs with jupyter-book
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Build docs
        run: uv run jb build docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./docs/_build/html/"
          # Deploy job
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
